.main_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.main_weather .main_weather_statement,
.main_clothes .main_clothes_statement{
    white-space: pre-wrap;
    font-weight: 600;
    font-size: 15pt;
    line-height: 20pt;
    color: #E3FFFE;
    margin-top: 10px;
}

.main_weather .main_weather_icon{
    font-size: 25pt;
    padding: 15px;
}

.main_weather .weather_result{
    font-size: 15pt;
    padding: 10px;
    color: #F4EFD9;
}

.main_clothes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_clothes .most_chosen_clothes,
.main_clothes .bring_outer{
    width: 90vw;
    background: rgba(218, 230, 232, 0.2);
    border-radius: 10px;
    margin-top: 20px;
}

.main_clothes .most_chosen_clothes{
    height: 190px;
}

.main_clothes .bring_outer{
    height: 105px;
}

.main_clothes .main_clothes_title{
    display: flex;
    align-items: start;
    color: #45454D;
    font-size: 10pt;
    width: 95%;
    padding: 5px;
    font-weight: 600;
}

.main_clothes .border_line{
    width: 85vw;
    height: 1px;
    background: #45454D;
    opacity: 0.1;
}

.weather_button{
    font-size: 10pt;
    font-weight: 600;
    color: #45454D;
    border: none;
    height: 35px;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(160, 170, 185, 1);
    margin-top: 20px;
}

